.header {
    padding-top: 20px;
    background: #43fff5;
    height: 40px;
    width: 1000px;
    margin: 0 auto;
}
.navigation {
    text-transform: uppercase;
    color: #4c53ff;
    font-weight: bold;
    text-decoration: none;
}
.selected {
    color: #1abec6
}
.logo {
    float: left;
    padding-left: 20px;
}
.contact {
    float: right;
    padding-right: 20px;
}