.container {
    width: 1000px;
    margin: 0 auto;
}
.contactPeople {
    width: 400px;
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
}
.photo {
    width: 100px;
    height: 100px;
}
.name {
    float: right;
    padding-right: 100px;
    font-size: 30px;
}