.form {
    width: 400px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.addContact {
    margin: 10px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.buttons {
    margin: 0 auto;
    padding: 5px;
}
button {
    margin: 5px;
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.label {
    padding: 0 10px;
}
.preview {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin: 0 auto;
    border-radius: 5px;
}
.previewPhoto {
    width: 93%;
    height: 93%;
    margin: 5px;
    border-radius: 5px;
}